<div> <!-- Slider -->
<div class="slider fullscreen ">
  <ul class="slides">
    <li>
      <img src="<%= asset_path 'logoslogan.png' %>"> <!-- random image -->
      <div class="caption left-align row">
        <div class="col s12 offset-s4 grid-example">
          <h1 class="black-text fuenteslogan fila2">CR&Uuml;MBIK</h1>
          <h2 class="light black-text text-lighten-2 fuenteslogan2">more clients less work</h2>
        </div>

      </div>
    </li>
    <li>
      <img src="<%= asset_path 'crm.jpg' %>"> <!-- random image -->
      <div class="caption right-align row">
        <h2 class="col s4 offset-s7 grid-example left-align">Customer Relationship Management</h2>
        <h3 class=" col s7 offset-s7 light grey-text text-lighten-3 left-align consolas">Una herramienta para escuchar al cliente</h3>
      </div>
    </li>
    <li>
      <img src="<%= asset_path 'crmlupa.jpg' %>">  <!-- random image -->
      <div class="caption left-align">
        <h2 class="fila3">Conozca sus clientes</h2>
        <h4 class=" light grey-text text-lighten-3">Reduciendo los costos de marketing</h4>
      </div>
    </li>
    <li>
      <img src="<%= asset_path 'email.jpg' %>">  <!-- random image -->
      <div class="caption center-align   ">
        <h2 class="black-text">Publicidad Digital</h2>
        <h4 class="light black-text text-lighten-3"> Mejore su demanda por medio de la oferta efectiva de sus productos y servicios. </h4>
      </div>
    </li>
    <li>
      <img src="<%= asset_path 'satisfecho.jpg' %>">  <!-- random image -->
      <div class="caption left-align   ">
        <h2 class="black-text">Mantenga</h2>
        <h4 class="light black-text text-lighten-3">La satisfacci&oacute;n de sus clientes</h4>
      </div>
    </li>
  </ul>
</div>
<script>
    $(document).ready(function(){
        $('.slider').slider({full_width: true});
    });
</script>
</div> <!-- /Slider -->



<div> <!-- Parallax -->
  <div class="section white parallax-container">
    <div class="row container">
      <h2 class="header">CR&Uuml;MBIK</h2>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'crm2.jpg' %>"></div>
  </div>


  <!-- Servicios-->
<div class="section fondoazul tamanno650"  id="servicios">
  <div class="row">
    <h4 class="col s2 offset-s2">Servicios</h4>
  </div>
  <div class="row container center ">
    <div class="row">
      <div class="col s4">
        <div >
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">email</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Email </h6>
                </div>
              </div>
              <div class="collapsible-body tamanno100 row"><p col s4>Las promociones v&iacute;a email, permiten la atracci&oacute;n de nuevos clientes</p></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div class="center">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">assessment</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Reportes Estad&iacute;sticos </h6>
                </div>
              </div>
              <div class="collapsible-body tamanno100 row"><p col s4>Los reportes Estad&iacute;sticos, brindan al ejecutivo información clara y oportuna para la toma de decisiones</p></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">web</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Plantillas Editables </h6>
                </div>
              </div>
              <div class="collapsible-body tamanno100 row"><p col s4>Diseñe de manera facil sus promociones, elija la plantilla para su producto y/o servicio</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">alarm_on</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Recordatorios </h6>
                </div>
              </div>
              <div class="collapsible-body tamanno100 row"><p col s4>El recordario es ideal para que los ejecutivos realicen de manera puntual sus actividades pendientes</p></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">add_alert</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Notificaciones </h6>
                </div>
              </div>
              <div class="collapsible-body tamanno100 row"><p col s4>Con una notificación, el ejecutivo sabr&aacute; su actividad pr&oacute;xima a realizar</p></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s4">
        <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header teal darken-1" style="height: 120px">
                <div class="center">
                  <i class="material-icons iconnegro " style="font-size: 100px; position: relative; left: 60px; top:20px ">chat</i>
                  <h6 class="center" style="position: relative; right: 22px; top:90px"> Chat </h6>
                </div>
              </div>
              <div class="collapsible-body tamanno100 row"><p col s4>Mantenga contacto directo con sus clientes, a trav&eacute;s del chat en l&iacute;nea</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function(){
          $('.collapsible').collapsible({
              accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
          });
      });

  </script>
  </div >
  <!-- /Servicios-->


  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'parallax2.png' %>"></div>
  </div>

  <!-- Planes-->
  <div class="section fondoazul tamanno400" id="planes">
    <div class="row container">
      <h4 class="black-text">Planes</h4>
    </div>

    <div class="row container center">

      <div class="col s4">
        <a class="waves-effect waves-light btn modal-trigger transparent"  style="height: 200px; width: 280px;" href="#modal1">
          <h6 class="black-text">Bronce</h6>
          <img class="imagenplan" src="<%= asset_path 'Bronce.png' %>"></a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal grey lighten-3" style="width: 500px">
          <div class="modal-content ">
            <h4>BRONCE</h4>
            <p>Descripci&oacute;n del plan bronce</p>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light col s3 offset-s4"
                    style="top:80%; position:absolute; right:37%;" type="submit" name="action">Enviar</button>
          </div>
          <div class="modal-footer grey lighten-3">
            <a href="#!" class=" modal-close waves-effect waves-green" style="top:5%; position:absolute; left:85%;">
              <i class="small material-icons iconnegro">call_received</i>
            </a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn modal-trigger transparent"  style="height: 200px; width: 280px;" href="#modal2">
          <h6 class="black-text">Plata</h6>
          <img class="imagenplan" src="<%= asset_path 'Plata.png' %>"></a>

        <!-- Modal Structure -->
        <div id="modal2" class="modal grey lighten-3" style="width: 500px">
          <div class="modal-content ">
            <h4>PLATA</h4>
            <p>Descripci&oacute;n del plan plata</p>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light col s3 offset-s4"
                    style="top:80%; position:absolute; right:37%;" type="submit" name="action">Enviar</button>
          </div>
          <div class="modal-footer grey lighten-3">
            <a href="#!" class=" modal-close waves-effect waves-green" style="top:5%; position:absolute; left:85%;">
              <i class="small material-icons iconnegro">call_received</i>
            </a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn modal-trigger transparent"  style="height: 200px; width: 280px;" href="#modal3">
          <h6 class="black-text">Oro</h6>
          <img class="imagenplan" src="<%= asset_path 'Oro.png' %>"></a>

        <!-- Modal Structure -->
        <div id="modal3" class="modal grey lighten-3" style="width: 500px">
          <div class="modal-content ">
            <h4>ORO</h4>
            <p>Descripci&oacute;n del plan oro</p>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light col s3 offset-s4"
                    style="top:80%; position:absolute; right:37%;" type="submit" name="action">Enviar</button>
          </div>
          <div class="modal-footer grey lighten-3">
            <a href="#!" class=" modal-close waves-effect waves-green" style="top:5%; position:absolute; left:85%;">
              <i class="small material-icons iconnegro">call_received</i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
        });
    </script>

  </div>
  <!-- /Planes-->

  <div class="parallax-container tamanno600">
    <div class="parallax"><img src="<%= asset_path 'demanda.jpg' %>"></div>
  </div>

  <!-- Video-->
  <div class="section fondoazul tamanno600">
    <div class="row container">
      <h4 class="black-text">¿Por qu&eacute; usar CR&Uuml;MBIK?</h4>
    </div>
    <div class="center ">
      <iframe width="900" height="480" src="https://www.youtube.com/embed/zz0e1Mvpe_g" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <!-- /Video-->

  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'digital.jpg' %>"></div>
  </div>

  <!-- Contáctanos-->
  <div class="section fondoazul tamanno800" id="contactanos">

    <div class="row container">
      <h4 class="black-text">Cont&aacute;ctanos</h4>
    </div>

    <div id="ubicacion">
      <img class="imgUbicacion" src="<%= asset_path 'ubicacion.png' %>">
    <h5 class="h5Ubicacion">Ubicaci&oacute;n</h5>
      <label class= "fuenteUbicacion" style="top: 120px;"> SOFTWARE CORPORATION</label>
      <label class= "fuenteUbicacion" style="top: 140px;"> crumbik@softwarecorporation.com</label>
      <label class= "fuenteUbicacion" style="top: 160px;"> Tel&eacute;fono: 317 441 8208</label>
      <label class= "fuenteUbicacion" style="top: 180px;"> Barquisimeto av. 20 con calle 50</label>
      <label class= "fuenteUbicacion" style="top: 200px;"> Lara – Venezuela</label>
    </div>

    <div class="center row">
      <div class="input-field col s5 offset-s2">

        <select>

          <option value=""disabled selected>Seleccione su solicitud</option>
          <option value="1">Solicitud de información</option>
          <option value="2">Reclamos</option>
          <option value="3">Sugerencias</option>
        </select>
        <label>Tipo de Solicitud</label>
      </div>


      <div class="row">
        <form class="col s12">

          <div class="row">
            <div class="input-field col s5 offset-s2">
              <i class="material-icons prefix iconnegro">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Nombre</label>
            </div>
            </div>
          <div class="row">
            <div class="input-field col s5 offset-s2">
              <i class="material-icons prefix iconnegro">email</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5 offset-s2">
              <i class="material-icons prefix iconnegro">phone</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Tel&eacute;fono</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5 offset-s2">
              <i class="material-icons prefix iconnegro">label</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Asunto</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5 offset-s2">
              <i class="material-icons prefix iconnegro">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Mensaje</label>
            </div>
          </div>

        </form>
        <div class="row">
          <button class="btn waves-effect waves-light col s1 offset-s4" type="submit" name="action">Enviar</button>
        </div>
      </div>

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
  </div>
    </div>
  <!-- /Contáctanos-->

  <div class="parallax-container">
    <div class="parallax"><img src="<%= asset_path 'configuracion.jpg' %>"></div>
  </div>

  <script type="text/javascript">
      $(document).ready(function(){
          $('.parallax').parallax();
      });
  </script>

    </div>
<!-- /Parallax -->

